/* ===== General ===== */

body {
    background-color: #121220;
    color: white;
}

div {
    transition: all .25s linear
}

.col-2{
    width: 16%
}

#app-main{

}

/* ===== Navbar (Header) and Footer ===== */
.navbar {
    background-color: #04AA6D;
    color: white;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.nav-link {
    color: white;
    border-radius:4px;
}

.nav-link:hover {
    color: white;
    background-color: #036f48;
}

.navbar-nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}

#footer {
    background-color: #04AA6D;
    color: white;

    /*
    position: absolute;
    bottom: 0;
     */
    width: 100%;
    text-align: center;
    padding: 12px;
}

/* ===== Containers, Lists ===== */

.container-content {
}

.container-list {
    background-color: #434343;
    --tw-shadow-color: rgba(0,0,0,.5);
    box-shadow: 0 10px 15px -3px var(--tw-shadow-color),
                0 4px 6px -4px var(--tw-shadow-color),
                inset 0 1px 0 0 hsla(0,0%,100%,.1);
    border-radius: 4px;


}

.container-entry {
    background-color: #363c5a;
    padding: 8px 12px;
}

.container-entry:nth-of-type(odd) {
    background-color: #292e45;
}

.container-content img{
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    --tw-shadow-color: rgba(0,0,0,.5);
    box-shadow: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color),
    inset 0 1px 0 0 hsla(0,0%,100%,.1);
    border-radius: 4px;
}

.list-title {
    font-size: large;
    font-weight: bold;
    padding: 8px 12px;
}

#index-main-list {

}

/* ===== Game Information ===== */

.game-title {
    font-weight: bold;
}

.game-details {
    font-size: small;
    font-weight:normal;
}

.game-info {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.game-info img {
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
}

/* ===== Widgets ===== */

#twitch-embed {
    aspect-ratio: 16/9;
    padding-bottom: 12px;
}

#twitch-embed-title {
    border-radius: 4px 4px 0 0;
}

/* ===== Login + Submit Pages ===== */
.page {
    background-color: #121220;
    display:flex;
    min-height: 800px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.page .btn {
    background-color: #04AA6D;
    color: white;
    width: 100%;
}

.authentication-page {
    align-items: center;
    justify-content: center;
}

.authentication-page input {
    margin-bottom: 24px;
}

.authentication-page .btn {
    background-color: #04AA6D;
    color: white;
    width: 100%;
}

.authentication-box {
    background-color: #434343;
    --tw-shadow-color: rgba(0,0,0,.5);
    box-shadow: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color),
    inset 0 1px 0 0 hsla(0,0%,100%,.1);
    border-radius: 4px;
    padding: 24px;

    width: 40%;
    min-width: 300px;
}

/* ===== Games Page ===== */

.game-gallery {
    background-color: #434343;
    border-radius: 8px;
    justify-content: space-between;
}

.game-gallery-contents {
    background-color: #292e45;
    margin: 0;
    padding: 16px;
    border-radius: 8px;
    justify-content: space-between;
}

.game-card {
    background-color: #363c5a;
    margin: 0;
    padding: 0;
    color: white;
    border-radius: 8px;

    --tw-shadow-color: rgba(0,0,0,.5);
    box-shadow: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color),
    inset 0 1px 0 0 hsla(0,0%,100%,.1);
}

.game-card:hover {
    transform:scale(1.05);
    transition-duration: 0.1s;
}

.game-card img {
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.game-card-footer {
    font-size: large;
    margin: 12px;
}

/* ===== Speedrun Pages =====*/

#speedrun-button {
    width: 300px;
}